

@media screen and (max-width : 1020px){
    .navbar{
        justify-content: space-around;
    }

    .left-nav{
        width: 70%;
    }
    .right-nav{
        width: 20%;
    }


}

@media screen and (max-width : 959px){

    .nav-links-wrapper ul li:nth-child(7){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(8){
        display: contents;
    }

}
@media screen and (max-width : 945px){

    .nav-links-wrapper ul li:nth-child(6){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(7){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(8){
        display: contents;
    }


}
@media screen and (max-width : 876px){
    .nav-links-wrapper ul li:nth-child(5){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(6){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(7){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(8){
        display: contents;
    }


}
@media screen and (max-width : 822px){
    .nav-links-wrapper ul li:nth-child(4){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(5){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(6){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(7){
        display: none;
    }
    .nav-links-wrapper ul li:nth-child(8){
        display: contents;
    }


}

@media screen and (max-width : 770px){
    .navbar{
        justify-content: space-around;
    }

    
    .left-nav{
        width: 40;
        justify-content: start;
        gap: 3%;
    }
    .right-nav{
        width: 30%;
        justify-content: space-around;
    }
    .hamburger{
        width: 10%;
    }
    .logo{
        width: 20%;
    }
}
@media screen and (max-width : 642px){
    .nav-links-wrapper ul {
        display: none;
    }
    .hamburger{
        width: 5%;
    }
    .logo{
        width: 20%;
    }
   
    .left-nav{
        width: 75%;
    }
    .right-nav{
        width: 10%;
    }
}
@media screen and (max-width : 1023px){
    .content-1{
        flex-direction: column;
        
    }
    
   .todays-pick{
    width: 100%;
    padding: 0px;
    border: none;
   }
   .recent{
    width: 100%;
    padding: 0px;
   }
   .recent-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .content-1 .recent-content .news{
    width: 47%;
   }



}


@media screen and (max-width : 767px){
    .right-nav{
        width: 5%;
        /* justify-content: end; */
    }
    
   .sign-in{
    width: 0px;
   }
   .search{
    width: 0px;
   }
    .content-1{
        flex-direction: column;
    }
    .todays-pick{
        width: 100%;
        padding: 0px;
        border: none;
    }
    .content{
        flex-direction: column-reverse;
    }
    .left-content{
        width: 100%;
        /* order:1; */
    }
    .right-content{
        width: 100%;
        /* order:1; */
    }
    .recent{
        width: 100%;
        padding: 0px;
        /* flex-wrap: nowrap;
        flex-direction: column; */
    }
    .recent-content{
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        

    }
    .news{
        width: 100%;
    }
    .sign-in{
        display: none;
    }
    .search{
        display: none;
    }
    
}


















